**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# .tfvars versionados aqui — padrões de ignorar desativados
# *.tfvars
# *.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*tfplan*

.vs/

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
[Bb]undle/
x64/
x86/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml
coverage.xml
coverage.*

artifacts/
*.nupkg
**/packages/*
!**/packages/build/
project.lock.json

*.log
appsettings.*.local.json
secrets.json

.env
.env.*
!.env.example
